# Root
.DS_Store
node_modules/
dist/
build/
tmp/
.env
.env.local

# Backend (Maven/Java)
backend/target/
backend/.classpath
backend/.project
backend/.settings/

# Frontend (Node/React)
frontend/node_modules/
frontend/.parcel-cache/
frontend/.next/
frontend/.vite/
frontend/.eslintcache
